<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/images/favicon-16x16.png"> 
    <!-- <title>{{ page.title }}</title> 
    <meta name="description" content="{{ page.description }}"> -->
    {% feed_meta %}
    {% seo %}
    <link rel="stylesheet" href="/assets/css/custom.css">
  </head>

  <body>
      <header>
          <div id="banner">
            <h1>
              <a id="top" href="/index.html" title="Balkanology Home Page">  
                <img src="/images/balkanology_logo.gif" style="float: left;" height="44" width="44" alt="">
                &nbsp;Balkanology&nbsp;&nbsp;::&nbsp;&nbsp;Explore Southeast Europe
              </a>
            </h1> 
          </div>

          {% include navigation.html %}
        
      </header>
      
      <main>     
        <div id="mainbox">
          <div class="disclaimer">
          <h3>This website is an archive from 2016</h3>
          <p>This site was actively maintained from 2006 to 2016. Since then I have kept it online for historical interest, but have made no further updates. Much of the information in these pages is now incorrect or obsolete.</p>
          </div>
          
        {{ content }}

        </div>
      
      </main>

      <footer>
        <p>Text and photos by <a href="/general/about.html">Alan Grant</a>, licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0 </a></p>
        <p>Contact me at alan [at] balkanology [dot] com</p> 
      </footer>

  </body>
 </html>